{%- extends "layout.html" %}
{%- block content %}
<div class="jumbotron d-flex align-items-center">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
            Registration Form:
        </h4>
      </div>
      <div class="card-body">
        <form method="post" action="/sign_up">
          <div class="form-group">
            <label for="id">id</label>
            <input type="text" class="form-control" id="id" name="id" value="{{id}}" required>
            <small class="form-text text-muted">
              ※登録したいIDを入力
            </small>
          </div>
          <div class="form-group">
            <label for="device_id">device_id</label>
            <input type="text" class="form-control" id="device_id" name="device_id" required>
            <small class="form-text text-muted">
              ※登録するDeviceIDを入力
            </small>
          </div>
          <div class="form-group">
            <label for="pass">password</label>
            <input type="password" class="form-control" id="pass" name="pass" required>
            <small class="form-text text-muted">
              ※登録したいパスワードを入力
            </small>
          </div>
          <div class="form-group">
            <input type="submit" value="Registration">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{%- endblock %}