{%- extends "layout.html" %}
{%- block content %}
  <header>
    <nav>
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item"><a class="nav-link" href="/">index</a></li>
        <li class="nav-item"><a class="nav-link" href="/registration">resistration</a></li>
        <li class="nav-item"><a class="nav-link  active" href="/user_info">user_info</a></li>
        <li class="nav-item justify-content-end"><a class="nav-link" href="/user">ログイン</a></li>
      </ul> 
    </nav>
  <p>
    多分何か書く
  </p>
  </header>
{%- endblock %}