{%- extends "layout.html" %}
{%- block content %}
  hello world
  <header>
    <nav>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" href="/">index</a></li>
        <li class="nav-item"><a class="nav-link" href="/registration">resistration</a></li>
        <li class="nav-item"><a class="nav-link active" href="/user_info">user_info</a></li>
        <li class="nav-item"><a class="nav-link" href="/user">user_logi</a></li>
      </ul>
    </nav>
  </header>
{%- endblock %}